*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px calc(50vw - 100px) calc(50vw - 100px);
  grid-template-rows: 10vh 45vh 45vh;
  background: no-repeat right bottom url("build.png");

}
