*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px calc(50vw - 100px) calc(50vw - 100px);
  grid-template-rows: 10vh 45vh 45vh;
  background: no-repeat right bottom url("../../public/build.png");
}

@keyframes over-button {
  50% {
    transform: scale(1.3);
  }

  75% {
    transform: scale(1);
  }
}

@keyframes click-button {
  25% {
    transform: scaleX(1.2) scaleY(0.8);
  }

  50% {
    transform: scaleX(0.8) scaleY(1.2);
  }

  75% {
    transform: scaleX(1.1) scaleY(0.9);
  }
}
